<!{% extends "base.html" %}

{% block content %}
<h4>Дата добавления данных: {{date}}</h4>
<form action="/observation/satellite" style="width: max-content" method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset>
        <legend>Add Satellite Observation</legend>
        {{form.volcanoId.label}}<br>
        {{form.volcanoId()}}<br>
        <p>
        {{form.satobsPixels.label}}<br>
        {{form.satobsPixels()}}<br>
        <p>
        {{form.satobsTmax.label}}<br>
        {{form.satobsTmax()}}<br>
        </p>
          <p>
        {{form.satobsTfon.label}}<br>
        {{form.satobsTfon()}}<br>
        </p>
        <p>{{ form.sub_add() }}</p>

    </fieldset>
</form>
<form action="/observation/satellite" style="width: max-content" method="POST">
    {{ periodForm.hidden_tag() }}
    {{ periodForm.csrf_token }}
    <fieldset>
        <legend>Set period</legend>
        <p>
        {{periodForm.periodStart.label}}<br>
        {{periodForm.periodStart()}}<br>
        <p>
        {{periodForm.periodEnd.label}}<br>
        {{periodForm.periodEnd()}}<br>
        </p>
        <p>{{periodForm.subOut()}}</p>

    </fieldset>
</form>
<h3>Спутниковые наблюдения</h3>
<table>
    <tr><th>Оператор</th>
        <th>Дата</th>
        <th>Колличество пиксилей</th>
        <th>Максимальная температура</th>
        <th>Средняя температура</th>
    </tr>
    {% for satobs in listSatobs%}
    <tr><td>{{satobs.Operator.opSurname}}</td>
        <td>{{satobs.Observation.obsDate}}</td>
        <td>{{satobs.SatelliteObservation.satobsPixels}}</td>
        <td>{{satobs.SatelliteObservation.satobsTmax}}</td>
        <td>{{satobs.SatelliteObservation.satobsTfon}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}