{% extends "base.html" %}

{% block content %}
<h4>Дата добавления данных: {{date}}</h4>
<form action="/addseismicobs" style="width: max-content" method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset>
        <legend>Add Seismic observation</legend>
        {{form.volcanoId.label}}<br>
        {{form.volcanoId()}}<br>
        <p>
        {{form.seisobsStationId.label}}<br>
        {{form.seisobsStationId()}}<br>
        </p>
          <p>
        {{form.seisobsEventTypeId.label}}<br>
        {{form.seisobsEventTypeId()}}<br>
        </p>
        <p>
        {{form.seisobsStartTime.label}}<br>
        {{form.seisobsStartTime()}}<br>
        </p>
        <p>
        {{form.seisobsEndTime.label}}<br>
        {{form.seisobsEndTime()}}<br>
        </p>
         <p>
        {{form.seisobsPeriodStartTime.label}}<br>
        {{form.seisobsPeriodStartTime()}}<br>
        </p>
        <p>
        {{form.seisobsPeriodEndTime.label}}<br>
        {{form.seisobsPeriodEndTime()}}<br>
        </p>
        <p>
        {{form.seisobsEventCount.label}}<br>
        {{form.seisobsEventCount()}}<br>
        </p>
        <p>
        {{form.seisobsWeak.label}}<br>
        {{form.seisobsWeak()}}<br>
        </p>
        <p>
        {{form.seisobsAvgAT.label}}<br>
        {{form.seisobsAvgAT()}}<br>
        </p>
        <p>
        {{form.seisobsMaxAT.label}}<br>
        {{form.seisobsMaxAT()}}<br>
        </p>
        <p>
        {{form.seisobsEnergyClass.label}}<br>
        {{form.seisobsEnergyClass()}}<br>
        </p>
        <p>
        {{form.seisobsDuration.label}}<br>
        {{form.seisobsDuration()}}<br>
        </p>
        <p>{{ form.sub_add() }}</p>

    </fieldset>
</form>

{% endblock %}